* {
  font-family: Tahoma, monospace, serif;
  display: inline-block;
  border: 1px solid blue;
}

body {
  height: 1000px;
  margin-left: auto;
  padding: 40px;
}

header {
  position: relative top;
  height: 30px;
  width: 100%;
  margin: 10px;
  padding-bottom: 100px;
}

/*this is the header logo and icon bar*/

.logo {}

#logo_text {
  font-family: cursive;
  font-size: 30px;
}

.logo p {
  display: inline;
  font-size: 12px;
}

.icons {
  display: ;
  float: right;
  padding-right: 20px;
}

/*this is the beginning of the body*/

.line {
  display: inline;
  color: grey;
  padding: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.main_title {

}

#title {
  font-size: 30px;
}

#left {
  float: left;
}

#right {
  float: right;
}

.body_text {
  color: grey;
}

.main_image {
  display: block;
  margin: 0px auto;
  height: 800px;
  width: 1200px;
  padding-left: 20%;
  padding-right: 20%;
}

.recipe {
  display: block;
}

.recipe img {
  z-index: -1;
}

#col1 {}

#col2 {}

.about {}

#author {}

footer {}

#sm_logo {}
